@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --violet: rgb(112, 250, 255);
  --lightp: rgb(158, 139, 255);
  --black: rgba(0, 0, 0, 0.85);
  --lightb: rgba(0, 0, 0, 0.6);
  --bodyColor: #fafafa;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  line-height: 1.7;
  overflow-x: hidden;
  background: rgb(24, 24, 24);
  color: #fff;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(24, 24, 24);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(211, 211, 211);
  border-radius: 20px;
  height: 120px;
}
nav p {
  cursor: pointer;
}

header {
  width: 100%;
  padding: 30px;
  height: 11vh;
  position: fixed;
  background-color: rgb(24, 24, 24);
  border-bottom: 1px solid #fff;
  z-index: 222;
  inset: 0px;
}

.active-nav {
  color: var(--violet);
  transition: all 0.3s ease-in-out;
}
a {
  text-decoration: none;
  color: #fff;
}
nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-weight: 500;
}
li {
  list-style: none;
  font-size: 1.2em;
}
.nav-end {
  display: flex;
  justify-content: flex-end;
}
li {
  padding: 0px 20px;
}
.nav-end li::after {
  content: "";
  border-bottom: 1px solid #ccc;
  transition: width 0.3s ease-in-out;
  position: relative;
  top: 1px;
  display: block;
  left: 0px;
  width: 0%;
  height: 2px;
}
.bars {
  display: none;
}
li:hover::after {
  width: 100%;
}
.right img {
  object-fit: contain;
  width: 380px;
}
